*{
    margin: auto;
    padding: auto;
    font-style: sans-serif;
}

.contenedorPadre{
    height: 800px;
    margin: 10px;
    padding: 20px;
    background-color: rgb(46, 46, 46);
}

.contenedorMenu{
    height: 720px;
    width: 19%;
    float: left;
    margin-top: 20px;
}

.contenedorHijo{
    height: 720px;
    width: 79%;
    float: right;
}
.contenedorContenido1{
    text-align:center;
    min-height: 25%;
    background-color:rgb(0, 184, 240);
}

.contenedorContenido2{
    text-align:center;
    min-height: 25%;
    background-color: gold;
}

.contenedorContenido3{
    text-align:center;
    min-height: 25%;
    background-color: orange;
}

.contenedorContenido4{
    text-align:center;
    min-height: 25%;
    background-color:orangered;
}
h2,p{
    padding: 10px;
    color: white;
}

p{
    text-align: justify;
}

a{
    color: white;
    text-decoration: none;
}
ul{
    list-style: none;
}
a:hover{
    color: rgb(173, 173, 173);
}